*{
  margin:0;padding:0;list-style-type: none;
}
input{
  border:none;
}
.white{
  background:gray;
}
a{
  color:white;
  text-decoration: none;
}
.toptoptop{
  position:fixed;
  background: #ece9de;
  width:100%;
  height:80px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
  background: #ece9de;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  padding-right: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 21px;
  z-index: 1;
  color: #4f5b66;
}
.container-1:hover button, .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
    border:1px solid #fff;
  }
.container-1{
  margin:0 auto;
  padding-top:15px;
  border:1px
}
.container-1 input#search{
box-shadow: 0px 0px 2px #fff;
}
.sidebart{
  position:fixed;
  top:80px;
  z-index:1000;
  background:#729246;
  height:auto;
  width:210px;
  padding:20px 20px;
  overflow:hidden;
  display: block;
  bottom:0;
  text-align: center;
}
.sidebart li{
  float:left;
  margin-top:20px;
  text-align: center;
  width:100px;
}
.l_form, .j_form{
  z-index: 99999;
  /*position:absolute;*/
  width:210px;
  color:#fff;
  display:none;
  position:relative;
}
.cl_lj_div, .cl_j_div{
  position:relative;
}
.cl_lj_div label, .cl_j_div label{
  position:absolute;
  top:13px;left:4px;
  z-index: 99999;
  color:gray;
  cursor: text;
}
.cl_j_div label{
  font-size: 12px;
}
.l_form input[type=text], .l_form input[type=password], .j_form input[type=text], .j_form input[type=number], .j_form input[type=password]{
  height:25px;
  padding:6px;
  margin:5px auto;
  text-align: left;
  width:196px;
}
.l_button, .j_button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  height:45px;
  margin-top:3px;
  width:208px;
  font-size:25px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.l_button:hover, .j_button:hover{
  background:#fff;
  color:#1AAB8A;
}
.l_button:before,.l_button:after, ..j_button:before, .j_button:after{
  content:'';
 position:absolute;
 top:0;
 right:0;
 height:2px;
 width:0;
 background: #1AAB8A;
 transition:400ms ease all;
}

.j_form, .j_menual{
  margin:10px 0px;
  display: none;
}
.j_menual{
  text-align: center;
  color:#fff;
  font-size:11px;
}
.sidebarf{
  position:fixed;
  background:#729246;
  z-index:1000;
  height:auto;
  width:210px;
  padding:20px 20px 20px 0px;
  overflow:hidden;
  display:block;
  top:205px;
  bottom:0;
  float:left;
}
.sidebar_cate ul li{
  position:relative;
}
.sidebarf ul li ul{
  display: none;
}
.sidebarf ul .loc_li{
  position:absolute;
  top:17px;
  left:18px;
}
.selectbox{
  position:relative;
  margin-top:3px;
  width:207px;
  border:1px solid #999;
  z-index:999999;
  background:#fff;
  margin-bottom:3px;
}
.selectbox:before{
  content="";
  position:absolute;
  top:50px;
  right:15px;
  width:0;height:0;
  margin-top:-1px;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top: 5px solid #333;
}
.selectbox label{
  position:absolute;
  top:-4px;
  left:0px;
  padding: .8em .5em;
  color:#999;
  z-index:-1;
}
.selectbox select{
  width:100%;
  height:auto;
  line-height: normal;
  font-family: inherit;
  padding: .8em .5em;
  border:0;
  opacity:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.i_1{
  width:60px;
  height:60px;
  border:0px solid red;
  display:inline-block;
  text-align: center;
  line-height: 60px;
}
.sidebar_sub{
  position:fixed;
  background:skyblue;
  z-index:1001;
  height:auto;
  width:150px;
  padding:10px 20px 20px 20px;
  overflow:hidden;
  display:block;
  left:60px;
  top:225px;
  bottom:0;
  text-align: left;
  display:none;
}
.sidebar_sub ul{
  display:none;
}
.sidebar_sub li{
  padding:5px;
}
